<!-- Footer -->

<footer style="background-color: black">

  <div class="template-demo text-center pt-3">

    <button type="button" class="btn btn-social-icon btn-facebook btn-rounded"><a
        href="https://www.facebook.com/punit.raj.355744"><i class="fa fa-facebook text-white"></i></a></button>
    <button type="button" class="btn btn-social-icon btn-instagram btn-rounded"><a
        href="https://www.instagram.com/raj_punit_99/"><i class="fa fa-instagram text-white"></i></a></button>
    <button type="button" class="btn btn-social-icon btn-github btn-rounded"><a
        href="https://github.com/punit3299/online-loan-application"><i class="fa fa-github text-white"></i></a></button>
    <button type="button" class="btn btn-social-icon btn-linkedin btn-rounded"><a
        href="https://www.linkedin.com/in/punit-raj-6765aba4/"><i class="fa fa-linkedin text-white"></i></a></button>
    <button type="button" class="btn btn-social-icon btn-youtube btn-rounded"><i class="fa fa-youtube"></i></button>
    <button type="button" class="btn btn-social-icon btn-twitter btn-rounded"><i class="fa fa-twitter"></i></button>

  </div>

  <div style="color:white;margin-top: 5px;" class="text-center pb-3">
    © 2020 Copyright:
    All rights are reserved here.
  </div>

</footer>

<!-- End of Footer -->