/* animation - float up all elements */

.animated{
    animation: transitionIn 0.75s;
  }
  @keyframes transitionIn{
    from{
      opacity: 0;
      transform: translateY(20px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }

input {
    padding:8.5px;
    font-family: "FontAwesome", "Josefin Sans";
    border-radius: 25px;
  }

  button{
    border-radius: 50px;
  }

  .shadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .work{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .circle { background-color:whitesmoke; width: 55px; height: 55px; border: 1px solid black; border-radius: 100px; color: black; margin: -50px auto 40px auto; padding: 10px;}
