<!-- navbar -->
<header>
    <app-navbar></app-navbar>
</header>
<!-- End of navbar -->

<!-- EMI Calculator -->
<div class="container-fluid animated" style="font-family: Josefin Sans;">
    <div class="text-center animated">
        <h3 class="m-3">Online EMI Calculator Tool</h3>
    </div>
    <hr>

    <div class="row pb-4">
        <div class="col-lg-4 offset-lg-2 col-md-12 col-sm-12 col-12 text-center p-4">

            <div class="card work mx-auto">
                <div class="card-body">
                    <div class="circle shadow"><i class="fa fa-calculator fa-2x" aria-hidden="true"></i></div>

                    <input type="number" placeholder="Enter Loan Amount" [(ngModel)]="loanAmt" class="form-control">
                    <br>
                    <input type="number" placeholder="Enter Interest Rate" [(ngModel)]="interestRate"
                        class="form-control">
                    <br>
                    <input type="number" placeholder="Enter Loan Duration" [(ngModel)]="loanDuration"
                        class="form-control">
                    <br>
                    <button class="btn btn-success" (click)="calculateLoan()">Calculate</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-center p-4">

            <div class="card work mx-auto">
                <div class="card-body">
                    <div class="circle shadow"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
                    <div>
                        <h4>Monthly EMI </h4>
                        <b>{{this.emi|currency:'INR'}}</b>
                        <br>
                    </div>
                    <br>
                    <div>
                        <h4>Principal Amount</h4>
                        <b>{{loanAmt|currency:'INR'}}</b>
                        <br>
                    </div>
                    <br>
                    <div>
                        <h4>Total Payable Amount</h4>
                        <b>{{this.emi*loanDuration*12|currency:'INR'}}</b>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of EMI Calculator -->

<!-- footer -->
<div class="footer pt-2" style="height: 50px;bottom:0;width: 100%;">
    <app-footer></app-footer>
</div>
<!-- end of footer -->